@media (max-width: 1360px) {
    #content {
        width: 55%;
    }
    #content input[type="text"] {
        width: 24%;
    }
}

@media (max-width: 1236px) {
    #content {
        width: 58%;
    }
}

@media (max-width: 768px) {
    #content {
        width: 65%;
        height: 500px;
    }
    #content h1 {
        font-size: 22px;
    }
    #content input[type="text"] {
        width: 30%;
    }
}

@media (max-width: 414px) {
    #content {
        width: 84%;
    }
    #content input[type="text"] {
        width: 45%;
    }
    #eContainer{
        width: 90%;
    }
    .errorMessage{
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    #content input[type="text"] {
        width: 55%;
    }
    #eContainer {
        width: 75%;
    }
    #rContainer {
        width: 58%;
    }
}