@media screen and (min-width: 0px) and (max-width: 1200px) {

  body {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .header {

    flex-direction: column;
    height: auto;

  }

  .header-container {
    height: 4rem;
  }

  #header-icon {
    display: none;
  }

  .title {
    text-align: center;
    font-size: 1.3rem;
  }

  .nav {
    width: 100%;
    padding-right: 0px;
    flex-flow: column;
    height: auto;
    padding-bottom: 1rem;
  }

  .nav-link {
    margin-top: .2rem;
    margin-bottom: .2rem;
  }

  #header-menu {
    padding: 0;
    margin-top: 0.4rem;
  }

  #main {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 0rem 0rem;
  }

  #TabController {
    width: 85%;
  }

  #HistoryController {
    width: 85%;
    margin: 0;
  }

  .record-x {
    margin-top: 0.5rem;
  }

}

@media screen and (max-width: 480px) {
  
  .record {
    display: block;
  }

}