* {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: sans-serif;
    font-size: 16px;
}

.page-title {
    font-size: 20px;
    color: white;
}

.text {
    font-size: 18px;
    color: white;
    text-align: center;
}

.app {
    display: grid;
    grid-template-areas: "header header" "content coords";
    grid-template-columns: 70% 30%;
    grid-template-rows: 80px auto;
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;
}

.header {
    display: flex;
    align-items: center;
    grid-area: header;
    background-color: #076af0;
}

.title-container {
    width: 70%;
    display: flex;
    align-items: center;
}

.title-container>.img {
    margin-right: 15px;
    margin-left: 15px;
}

.menu-container {
    width: 30%;
}

.menu-container>.ul {
    display: flex;
    list-style: none;
}

.ul>.li {
    margin-left: 15px;
    margin-right: 15px;
}

.li>.link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.link {
    padding: 10px;
}

.link:hover {
    color: #1ed760;
    background-color: #1e1e1e;
    transition: 0.5s all;
}

.content {
    grid-area: content;
    display: flex;
    justify-content: center;
}

.coords-form {
    margin-top: 50px;
    width: 50%;
    height: 60%;
    background-color: #24292e;
}

.os-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.select {
    margin-left: 25px;
    margin-right: 10px;
    border: none;
    width: 28%;
    height: 40px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 1px solid cyan;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right;
    -moz-padding-end: 20px;
    -moz-padding-start: 2px;
}

.select>.opt {
    color: black;
}

.data-container {
    width: 100%;
    height: 90%;
}

.inputGroup {
    height: 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.error-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.error {
    background-color: #ff3333;
    width: 50%;
    height: 100%;
}

.error>.closeable {
    height: 30%;
}

.closeable>.icon {
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}

.icon:hover {
    color: black;
    cursor: pointer;
    transition: 0.2s all;
}

.error>.error-text {
    line-height: 50px;
    height: 70%;
}

.result-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
}

.result {
    background-color: #4BCA81;
    width: 50%;
    height: 60%;
}

.closeable {
    height: 30%;
}

.success-text {
    height: 70%;
    line-height: 50px;
}

.input {
    width: 30%;
    height: 30px;
    border: 2px solid #1ed760;
    background-color: #1e1e1e;
    color: white;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input:hover {
    border: 2px solid #076afa;
    transition: 0.1s all;
}

.input:focus {
    border: 2px solid #076afa;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.button {
    border: 2px solid transparent;
    background-color: #1E1E1E;
    color: white;
    width: 30%;
    height: 40px;
}

.button:hover {
    border: 2px solid #9b173e;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s all;
}

.coords {
    display: flex;
    flex-flow: column;
    align-items: center;
    grid-area: coords;
}

.coords-title {
    margin-top: 2%;
    width: 100%;
}

.coords-container {
    display: block;
    overflow-y: scroll;
    scrollbar-color: #077df0 #1e1e1e;
    margin-top: 2%;
    width: 80%;
    height: 80%;
    background-color: #24292e;
}

*::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-button:single-button {
    background-color: #1e1e1e;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
}

::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
}

*::-webkit-scrollbar-track {
    background: #1e1e1e;
}

*::-webkit-scrollbar-thumb {
    background-color: #077df0;
}

.history {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    height: 15%;
    background: #c2e59c;
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    background: linear-gradient(to right, #64b3f4, #c2e59c);
}