* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    width: 100%;
    height: 35px;
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
}

p {
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 35px);
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.body__main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #1E1E1E;
    width: 100%;
    height: 100%;
}

.main__container-appTitle {
    margin-top: 20px;
    background-color: #24292E;
    width: 50%;
    height: 100px;
}

.main__container-form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 100px);
}

.container__form-app {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__content-form {
    background-color: #24292E;
    width: 70%;
    height: 80%;
}

.form__component-label {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.form__component-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.app__form-label {
    font-family: sans-serif;
    font-size: 28px;
    color: white;
}

.app__form-input {
    border: 1px solid green;
    color: white;
    background-color: #303030;
    padding: 10px;
    font-size: 16px;
    font-family: 'Trebuchet MS';
    width: 30%;
    height: 35px;
}

.input__error-icon {
    background-image: url("/resources/delete.png");
    background-repeat: no-repeat;
    background-position: 100%;
    padding-right: 30px;
    border: 2px solid #c10606;
}

.app__form-input:hover {
    border: 2px solid #0a79ff
}

.app__form-input:focus {
    border: 2px solid #0a79ff
}

.form__input-error {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #c10606;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    display: none;
}

.input__error-show {
    display: block;
}

.form__component-button {
    margin-top: 30px;
}

.app__form-button {
    display: block;
    margin: 0 auto;
    border: none;
    color: white;
    font-size: 16px;
    font-family: arial;
    background-color: #1e1e1e;
    width: 25%;
    height: 40px;
}

.app__form-button:hover {
    box-shadow: 0px 0px 5px inset #ccc;
    cursor: pointer;
}

.form__container-results {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.form__components-results {
    display: none;
    flex-flow: column;
    width: 35%;
    height: 50%;
    background-color: #b21414;
}

.close {
    width: 100%;
    height: 24px;
}

.close__component-icon {
    padding-top: 5px;
    padding-left: 5px;
    color: #E1E4E8;
    font-size: 18px;
}

.close__component-icon:hover {
    color: #101010;
    cursor: pointer;
}

.results__component-text {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI';
    font-weight: normal;
    color: white;
}

.container__form-history {
    background-color: #24292E;
    width: 30%;
    height: 90%;
}

.history__component-title {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI';
    text-align: center;
}

.history__component-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 40px);
}

.component-history-coords {
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
}

.container__history-coords {
    background: linear-gradient(#e66465, #9198e5);
    width: 90%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
    Section de Id's
*/