<article class="container" id="nether">
  <div class="form-group">

    <label for="coord_x" class="label">
      Coordenada X
    </label>

    <input type="text" placeholder="366" name="" id="coord_x" class="input">

  </div>

  <div class="form-group">

    <label for="coord_z" class="label">
      Coordenada Z
    </label>

    <input type="text" placeholder="768" name="" id="coord_z" class="input">

  </div>

  <div class="form-group">

    <button type="button" class="button" id="calculate" onclick="validateForm();">
      Calcular coordenadas
    </button>

  </div>

  <div class="form-group" id="modal-container">

  </div>

</article>